.success_alert {
  background: #79dc79ab;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;

  .context {
    .title {
      word-spacing: 10px;

      @media (max-width: 480px) {
        word-spacing: 3px;
      }
    }
  }
}
